<!doctype html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=Edge;chrome=1' >
  <title>OpenSpending model editor</title>
  <link rel='stylesheet' href='css/forms.css'>
  <link rel='stylesheet' href='css/style.css'>
</head>
<body>
  <textarea id="debug" style='float:right;width:28%'>
  </textarea>
  <div class='content' style='width: 70%'>
    <div id='m1' class='modeleditor'>
      <div class='steps'>
        <ul>
          <li><a href='#'><span>1</span> Dimension mapping</a></li>
          <li><a href='#'><span>2</span> Dataset metadata</a></li>
          <li><a href='#'><span>3</span> Views &amp; visualisation</a></li>
        </ul>
      </div>
      <div class='forms'>
        <form action='#'>

          <!-- Dimension mapping -->
          <div class='formpart dimensions_widget'>
            <h2>Dimension mapping</h2>
            <div class='dimensions'>
            </div>
            <p>
              <a class='add_value_dimension' href='#'>Add single-column dimension</a>
              <a class='add_classifier_dimension' href='#'>Add multi-column dimension</a>
            </p>
          </div>

          <!-- Dataset metadata -->
          <div class='formpart'>
            <h2>Dataset metadata</h2>
            <dl>
              <dt><label>Name:</label></dt>
              <dd><input type='text' name='dataset[name]'></dd>
              <dd class='hints'>
                Choose a uniquely identifying name, comprising letters,
                dashes and underscores only. Examples: <code>eu-budget</code>,
                <code>epsrc-grants</code>, <code>country-regional-analysis</code>.
              </dd>

              <dt><label>Label:</label></dt>
              <dd><input type='text' name='dataset[label]'></dd>
              <dd class='hints'>
                A human-readable, short representation of the package name:
                <code>European Union Budget</code>, <code>Country Regional Analysis</code>,
                etc.
              </dd>


              <dt><label>Unique keys:</label></dt>
              <dd class='unique_keys_widget'></dd>
              <dd class='hints'>
                Every dataset needs a set of columns from the data file which will
                <em>uniquely identify</em> any given spending entry in the data.
              </dd>
            </dl>
          </div>

          <!-- Views & visualisation -->
          <div class='formpart'>
            <h2>Views and visualisation</h2>
          </div>

        </form>
      </div> <!-- /.forms -->

      <!-- Unique keys template -->
      <script id='tpl_unique_keys' type='text/x-jquery-tmpl'>
        {{if keys.length == 0}}
          <em>No dimensions available yet.</em>
        {{/if}}
        {{each(i, key) keys}}
          {{if key.used}}
            <input type='hidden' name='dataset[unique_keys][]' value='${key.name}'>
            <span class='active'>
          {{else}}
            <span>
          {{/if}}
          ${key.name}
          </span>
        {{/each}}
      </script>

      <!-- Dimension column field template -->
      <script id='tpl_dimension_field' type='text/x-jquery-tmpl'>
        <tr data-field-name='${fieldName}'>
          <td>${fieldName}</td>
          <td><select class='column' name='${prefix(fieldName)}[column]'></select></td>
          <td>
            <select name='${prefix(fieldName)}[datatype]'>
              <option value=''></option>
              <option value='float'>float</option>
              <option value='string'>string</option>
            </select>
          </td>
          <td>
            <a href='#' class='field_switch_constant'>&rarr; const</a>
            {{if required(fieldName) != true}}
            <a href='#' class='field_rm'>&times;</a>
            {{/if}}
          </td>
        </tr>
      </script>

      <!-- Dimension constant field template -->
      <script id='tpl_dimension_field_const' type='text/x-jquery-tmpl'>
        <tr data-field-name='${fieldName}'>
          <td>
            ${fieldName}
            <input type='hidden' name='${prefix(fieldName)}[datatype]' value='constant'>
          </td>
          <td><input type='text' name='${prefix(fieldName)}[constant]'></td>
          <td>constant</td>
          <td>
            <a href='#' class='field_switch_column'>&rarr; column</a>
            {{if required(fieldName) != true}}
            <a href='#' class='field_rm'>&times;</a>
            {{/if}}
          </td>
        </tr>
      </script>

      <!-- Dimension template -->
      <script id='tpl_dimension' type='text/x-jquery-tmpl'>
        <input type='hidden' name='mapping[${name}][type]' value='${data.type}'>
        {{if meta.fixedDataType}}
        <input type='hidden' name='mapping[${name}][datatype]' value='${data.datatype}'>
        {{/if}}
        <legend>${name}</legend>
        {{if meta.helpText}}<p>${meta.helpText}</p>{{/if}}
        <dl>
          {{if data.type === 'value'}}
            <dt><label>Column:</label></dt>
            <dd>
              <select class='column' name='mapping[${name}][column]'></select>
            </dd>
            {{if !meta.fixedDataType}}
              <dt><label>Data type:</label></dt>
              <dd>
                <select name='mapping[${name}][datatype]'>
                  <option value='float'>float</option>
                  <option value='string'>string</option>
                </select>
              </dd>
            {{/if}}
          {{/if}}
          <dt><label>Label:</label></dt>
          <dd>
            <input type='text' name='mapping[${name}][label]' value='${data.label}'>
          </dd>
          <dt><label>Description:</label></dt>
          <dd>
            <textarea class='short' name='mapping[${name}][description]'>${data.description}</textarea>
          </dd>
        </dl>
        {{if data.type !== 'value' }}
          <table class='fields'>
            <thead>
              <tr>
                <td>Field name</td>
                <td>Column/Const</td>
                <td>Type</td>
                <td>&nbsp;</td>
              </tr>
            </thead>
            <tbody>
            {{each(n, f) data.fields}}
              {{if f.datatype === 'constant'}}
                {{tmpl({'fieldName': n, 'prefix': formFieldPrefix, 'required': formFieldRequired}) '#tpl_dimension_field_const'}}
              {{else}}
                {{tmpl({'fieldName': n, 'prefix': formFieldPrefix, 'required': formFieldRequired}) '#tpl_dimension_field'}}
              {{/if}}
            {{/each}}
            </tbody>
          </table>
          <p><a class='add_field' href='#'>Add a field</a></p>
        {{/if}}
      </script>
    </div> <!-- /.modeleditor -->
  </div> <!-- /.content -->
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js'></script>
  <script src='http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js'></script>

  <script src='lib/extensions.js'></script>
  <script src='lib/delegator.js'></script>
  <script src='lib/modeleditor.js'></script>
  <script>
    jQuery(function($) {
      $('#m1').modelEditor({
        'columns': ['one', 'two', 'three']
      });
      var me = $('#m1').data('modelEditor')
      $('#debug').change(function () {
        me.data = JSON.parse($(this).val())
        $('#m1').trigger('modelChange')
      })
    })
  </script>
</body>
</html>